doctype html
html
head
  meta(charset='utf-8')
  title PostHTML Stream
  link(href='index.css' rel='stylesheet')

body
  // chunk
  div(block='block')
    h1(elem='elem')
     | Hello World!
  // chunk
  div(block='block')
    h1(elem="elem")
     | Hello World!
  // chunk
  div(block='block')
    h1(elem='elem')
     | Hello World!
  // chunk
  div(block='block')
    h1(elem='elem')
     | Hello World!
  // chunk
